body {
  background-color: whitesmoke;
}

.jumbotron {
  text-align: center;
}

h1 {
  font-family: ;
  color: blue;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 900,
  'GRAD' 0,
  'opsz' 80
  
  
}
